.catalog {
  &__title {
    @extend %page-title;

    &--hide {
      display: none;
    }
  }
  &__wrapper {
    @include wrap;
  }

  &__filter-button {
    padding-left: 23px;
    color: $yellow;
    @include font(16, 500);
    margin-bottom: 17px;
    border: none;
    background-color: transparent;
    background-image: url(/source/img/svg/filter.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    width: 100%;
    margin-bottom: 23px;
  }
  &__item-link {
    display: block;
    width: 100%;
    height: 100%;
    border: $gray-border;
    border-radius: $radius;
    color: $black;
    &:hover,
    &:focus {
      border: $yellow-border;
      .catalog__description {
        color: $yellow;
      }
    }

    &:active {
      border: $yellow-border;
      .catalog__description {
        color: $yellow;
      }
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    margin-bottom: 10px;
    border-radius: $radius;
    & div {
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
  }
  &__cost {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
  }
  &__button {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: 18px;
    margin-right: auto;
  }

  &__type {
    width: 100%;
    display: flex;
    margin-bottom: 17px;
    &--hide {
      display: none;
    }
  }
  &__type-label {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 29px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    background-image: url(/source/img/dogs.png);
    background-size: cover;
    color: #323232;
    background-blend-mode: screen;
    background-color: $cats-bg-color;
    &--cats {
      background-image: url(/source/img/cats.png);
    }
  }

  &__type-input:checked + .catalog__type-label {
    background-color: $yellow;
  }
  &__more {
    grid-column-start: 7;
    grid-column-end: 9;
    margin-bottom: 78px;
  }

  @media screen and (min-width: $tablet-width) {
    &__title {
      padding-top: 0;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
      grid-column-gap: 22px;
    }
    &__item {
      width: auto;
    }
  }
  @media screen and (min-width: $desktop-width) {
    &__wrapper {
      max-width: $max-width;
      margin: 0 auto;
      align-items: start;
    }

    &__list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      padding: 0;
      grid-column-gap: 16px;
      align-items: start;
    }
    &__item {
      margin-bottom: 24px;
    }
    &__filter-button {
      display: none;
    }

    &__type-label {
      background-image: url(/source/img/dogs-desktop.png);
      &--cats {
        background-image: url(/source/img/cats-desktop.png);
      }
    }
  }
}
