.checkbox-label {
  @include font(14);
  padding-top: 4px;
  padding-bottom: 3px;
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 32px;
  margin-bottom: 8px;
  &--empty {
    padding: 0;
    margin: 0;
    width: 24px;
    flex-shrink: 0;
  }
  &--remove {
    padding-left: 0;
    padding-right: 32px;
    &:hover::before {
      background-image: url(/source/img/svg/delete-hover.svg);
    }
  }
}
.checkbox-input {
  @extend .visually-hidden;

  & + .checkbox-label {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      background: $white;
      border: $gray-border;
      box-sizing: border-box;
      border-radius: $radius;
    }

    &:hover::before,
    &:focus::before {
      border-color: $yellow;
    }
  }

  &:checked + .checkbox-label::after {
    background-image: url(/source/img/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  & + .checkbox-label--remove::before {
    left: auto;
    right: 0;
    border: 0;
    background-color: transparent;
    background-image: url(/source/img/svg/delete.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:focus + .checkbox-label,
  &:hover + .checkbox-label {
    color: rgba(0, 0, 0, 0.6);
    &::before {
      border-color: $yellow;
    }
  }
}
